@model IEnumerable<Models.Talent.RecordModel>

@{
    ViewBag.Title = "Index";
}

<h2>显示个人简历</h2>
<div>
    <input id="Button1"  type="button" class="layui-btn layui-btn-mini layui-btn-normal table-list-status"  value="返回个人信息" onclick="location.href='/Talents/AddTalent/'" />
</div>

<table class="layui-table">
    <tr>
        <th>
            编号
        </th>
        <th>
            工作单位
        </th>
        <th>
            职位
        </th>
        <th>
            薪资
        </th>
        <th>
            工作内容
        </th>
        <th>
            离职原因
        </th>
        <th>
            工作时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GongNeiR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiZhi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTime)
        </td>
        <td>
            @Html.ActionLink("删除", "DeleteRecoed", new { id=item.RId },new { @class = "layui-btn layui-btn-mini table-list-status layui-btn-warm" })
        </td>
    </tr>
}

</table>
