@model IEnumerable<Models.Talent.TalentsModel>

@{
    ViewBag.Title = "Index";
   
}

<h2>数据列表</h2>

@using (Html.BeginForm())
{
    <div class="form-inline" style="margin-top:30px;margin-bottom:20px">
        <div class="row">
            <div class="col-lg-12">
                <input type="text" class="form-control" name="CName" value="" placeholder="请输入名称" />
                <input type="submit" name="name" value="查询" class="form-control " />
                <input type="button" style="width:50px;height:33px;" class="layui-btn layui-btn-danger layui-btn-xs" name="name" value="添加" onclick="location.href='/Talents/AddTalent/'" />
            </div>
        </div>
    </div>
}

<table class="layui-table" lay-skin="line">
    <tr>
        <th>
            序号
        </th>
        <th>
            姓名
        </th>
        <th>
            联系方式
        </th>
        <th>
            应聘岗位
        </th>
        <th>
            信息来源
        </th>
        <th>
            面试反馈
        </th>
        <th>
            人员状态
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FanKui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TState)
            </td>
            <td>
                @Html.ActionLink("修改", "UpdateTalent", new { id = item.Id }, new { @class = "layui-btn layui-btn-mini table-list-status layui-btn-warm" }  ) |
                @Html.ActionLink("删除", "DeleteTalent", new { id = item.Id }, new { @class = "layui-btn layui-btn-mini layui-btn-normal table-list-status" }) |
                @Html.ActionLink("详情", "Detail", new { id = item.Id }      , new { @class = "layui-btn layui-btn-mini layui-btn-normal table-list-status" }) |
            </td>
        </tr>
    }

</table>
