@model IEnumerable<Models.ReimbursementInfo>
@{
    ViewBag.Title = "Detail";
}

<h2>费用详情</h2>
@using (Html.BeginForm())
{


<table class="layui-table">
    @foreach (var item in Model)
    {
        <tr>
            <td>报销人:</td>
            <td> @Html.DisplayFor(modelItem => item.ApplyName)</td>
        </tr>
        <tr>
            <td>报销类型:</td>
            <td>@Html.DisplayFor(modelItem => item.CostId)</td>
        </tr>
        <tr>
            <td>报销日期:</td>
            <td> @Html.DisplayFor(modelItem => item.ApplyTime)</td>
        </tr>
        <tr>
            <td>报销金额:</td>
            <td> @Html.DisplayFor(modelItem => item.Money)</td>
        </tr>
        <tr>
            <td>报销状态:</td>
            <td> @Html.DisplayFor(modelItem => item.ApplyState)</td>
        </tr>
        <tr>
            <td>备注说明:</td>
            <td> @Html.DisplayFor(modelItem => item.ApplyExplain)</td>
        </tr>
    }


</table>
}