@model IEnumerable<Models.ReimbursementInfo>
@{
    ViewBag.Title = "show";
}

<h2>费用管理</h2>
@using (Html.BeginForm())
{


<table class="table table-bordered">
    <tr>
        <td>报销人:</td>
        <td><input id="Text1" type="text" /></td>
        <td>报销类型:</td>
        <td><select id="Select1"><option></option></select></td>
        <td>报销状态:</td>
        <td><select id="Select1"><option></option></select></td>
    </tr>
    <tr>
        <td><input id="Button1" type="button" value="查询" class="btn btn-info"/></td>
    </tr>
</table>
<table class="table table-bordered">
    <tr>
        <td>
            <input id="Button1" type="button" value="新增" class="btn btn-info" onclick="window.location.href = '/Reim/Add' " />
        </td>
    </tr>
    <tr>
        <td>序号</td>
        <td>报销类型</td>
        <td>金额(元)</td>
        <td>报销人</td>
        <td>状态</td>
        <td>报销日期</td>
        <td>操作</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CostId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Money)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApplyName)
    </td>
    <td style="color:skyblue">
        @Html.DisplayFor(modelItem => item.ApplyState)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApplyTime)
    </td>
    <td>
        @Html.ActionLink("完成报销", "UpdateStage", new { id = item.Id })
        @Html.ActionLink("修改", "DeleteRecoed", new { id = item.Id })
        @Html.ActionLink("详情", "Detail", new { id = item.Id })
    </td>
</tr>
    }
</table>
}